{% extends "base.html" %}

{% block content %}
    <div class="container py-4">
        <h1>Student Details</h1>
        <ul>
            <li>Name: {{ student.name }}</li>
            <li>Date of Birth: {{ student.date_birth }}</li>
            <li>Gender: {{ student.gender }}</li>
            <li>City: {{ student.city }}</li>
            <li>Profession: {{ student.profession }}</li>
            <li>Academic Pressure: {{ student.academic_pressure }}</li>
            <li>Work Pressure: {{ student.work_pressure }}</li>
            <li>CGPA: {{ student.cgpa }}</li>
            <li>Study Satisfaction: {{ student.study_satisfaction }}</li>
            <li>Job Satisfaction: {{ student.job_satisfaction }}</li>
            <li>Sleep Duration: {{ student.sleep_duration }}</li>
            <li>Dietary Habits: {{ student.dietary_habits }}</li>
            <li>Degree: {{ student.degree }}</li>
            <li>Suicidal Thoughts: {{ student.suicidal_thoughts }}</li>
            <li>Work/Study Hour: {{ student.work_study_hour }}</li>
            <li>Financial Stress: {{ student.financial_stress }}</li>
            <li>Family History Mental Illness: {{ student.family_history_mental_illness }}</li>
            <li>Risk of Depression: {{ student.risk_of_depression }}</li>
        </ul>
        <a href="{% url 'student-update' student.pk %}">Edit</a>
        <a href="{% url 'student-delete' student.pk %}">Delete</a>
        <a href="{% url 'student-list' %}">Back to list</a>
    </div>
{% endblock %}