{% extends "base.html" %}

{% block title %}Estudantes{% endblock %}

{% block content %}

<h1>Estudantes</h1>
    <table class="table">
  <thead>
    <tr>
        <th scope="col">Nome</th>
        <th scope="col">Risco de Depressão (%)</th>
    </tr>
  </thead>
  <tbody>
  {% for student in students %}
    <tr>
        <td><a href="{{ student.get_absolute_url }}">{{ student.name }}</a></td>
        <td>{{ student.risk_of_depression|floatformat:2 }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<a href="{% url 'student-create' %}">Add New Student</a>
{% endblock %}