{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
        <h1 class="mb-4">Importar CSV para o Banco de Dados</h1>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
{% endblock %}
